:root {
	--Dark_blue: #0A3871;
	--Gray: #868E96;
	--Ligth_blue: #F3F5FC;
}

* {
	background-color: var(--Ligth_blue);
	font-family: 'Inter';
	font-size: 32px;
	font-weight: 400;
	line-height: 150%;

}

.logo {
	padding: 10px auto auto 10px;
	width: 10%;
}

main {
	display: flex;
	/* margin: auto auto 50px 80px; */
	margin-bottom: 50px;
	margin-left: 80px;
}

.textarea {
	border: none;
	color: var(--Dark_blue);
	margin-top: 90px;
	text-transform: lowercase;
}

::placeholder {
	color: var(--Dark_blue);
}

.textarea:focus {
	outline: none;
}

.mensaje {
	background: #FFFFFF;
	background-image: url(../img/Muñeco.png);
	background-repeat: no-repeat;
	border: none;
	border-radius: 24px;
	color: var(--Dark_blue);
	margin: 20px auto auto 80px;
	padding-left: 20px;
	position: fixed;
}

.mensaje:focus {
	outline: none;
}

.botones {
	display: flex;
	margin-top: 18px;
}

.desencirptador {
	background-color: var(--Gray);
	border: 1px solid var(--Dark_blue);
	border-radius: 24px;
	color: var(--Dark_blue);
	cursor: pointer;
	height: 67px;
	width: 328px;
	margin-left: 30px;
}

.encriptador {
	background-color: var(--Dark_blue);
	border: 1px solid var(--Dark_blue);
	border-radius: 24px;
	color: white;
	height: 67px;
	width: 328px;
	cursor: pointer;
}

.boton-copiar {
	border: 1px solid var(--Dark_blue);
	border-radius: 24px;
	color: var(--Dark_blue);
	cursor: pointer;
	height: 67px;
	margin-left: 108px;
	margin-top: 402px;
	position: absolute;
	width: 336px;
}

.informacion {
	color: var(--Gray);
	font-size: 18px;
}

.derecho {
	text-align: center;
}