:root{
	--Dark_blue : #0A3871;
	--Gray : #868E96;
	--Ligth_blue: #F3F5FC;
}
body{
	background-color: var(--Ligth_blue);
	font-weight: 400;
	width: 1440px;
	height: 1034px;
}
.contenedor{


margin: auto;
}
.textarea{

/* Ingrese el texto aqui */

position: absolute;
width: 577px;
height: 48px;
left: 240px;
top: 168px;

font-family: 'Inter';
font-style: normal;
font-size: 32px;
line-height: 150%;
color: var(--Dark_blue);
}
.texto_advertecia{
	

width: 205px;
height: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;

color: #495057;

opacity: 0.8;

flex: none;
order: 1;
flex-grow: 0;
}
.Resultado{

position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;

background: #FFFFFF;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
}
footer{
	text-align: end;
}

